.git
.gitignore
.env
.env.local
.env.*.local
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
docker-compose.yml
Dockerfile
docker/
tests/
.phpunit.result.cache
