.env
.env.local
.env.*.local
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.phpunit.result.cache
.DS_Store
database/database.sqlite